@model Loony.Data.Entities.System.Translation

<tr id="@String.Format("Edit_{0}", Model.Id)" style="background-color: #efefef;">
    <td colspan="5">

        <form class="m-form m-form--fit" method="post">

            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />

            <table class="table table-borderless table-sm m-table" style="margin:0px;">
                <tr style="background-color: #efefef;">
                    <td class="align-middle"><input type="text" asp-for="Key" class="form-control m-input" placeholder="Key"></td>
                    <td class="align-middle"><input type="text" asp-for="EN" class="form-control m-input" placeholder="EN"></td>
                    <td class="align-middle"><input type="text" asp-for="TR" class="form-control m-input" placeholder="TR"></td>
                    <td class="align-middle">

                        <select class="form-control kt-selectpicker" asp-for="Group">
                            <option value="">@await Component.StaticText("All")</option>
                            <option value="Button">@await Component.StaticText("Button")</option>
                            <option value="General">@await Component.StaticText("General")</option>
                            <option value="Label">@await Component.StaticText("Label")</option>
                            <option value="Link">@await Component.StaticText("Link")</option>
                            <option value="Menu">@await Component.StaticText("Menu")</option>
                            <option value="Message">@await Component.StaticText("Message")</option>
                            <option value="Text">@await Component.StaticText("Text")</option>
                            <option value="Title">@await Component.StaticText("Title")</option>
                        </select>

                    </td>
                    <td class="text-right align-middle">
                        @if (Convert.ToBoolean(Context.Items["Update"]))
                        {
                            <button type="submit" class="btn btn-secondary btn-sm btnSave"><i class="la la-save"></i></button>
                            <a class="btn btn-secondary btn-sm btnCancel"><i class="la la-times-circle"></i></a>
                        }
                    </td>
                </tr>
            </table>

        </form>
    </td>
</tr>